RewriteEngine On

RewriteRule ^([a-zA-Z0-9_\-]*)/([a-zA-Z0-9_\-]*)$ ./index.php?controller=$1&method=$2 [NC]
RewriteRule ^([a-zA-Z0-9_\-]*)/([a-zA-Z0-9_\-]*)/([0-9]*)$ ./index.php?controller=$1&method=$2&id=$3 [NC]

#ErrorDocument 404 http://performance.test/
